.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
link {
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide * {
  margin: 0;
  padding: 0;
}

.slide a {
  color: black;
  text-decoration: none;
}
#wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  display: flex;
  align-items: stretch;
  margin: 0 25%;
}
.slide .hb {
  position: relative;
  width: 25%;
  z-index: 1;
  display: flex;
  align-items: center;
  z-index: 2;
  trasnform: scale(0.97);
}
.slide .c {
  position: relative;
  display: block;
  max-width: 90%;
}
.slide .c img {
  position: relative;
  display: block;
  width: 400px;
  height: 300px;
  z-index: 2;
}
.slide .txt {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  opacity: 0;
  padding: 1em 0 0 1em;
  border-left: 1px solid;
  z-index: 1;
  transform: scaleY(1) translateY(-50px);
  transition: transform 0.2s, opacity 0.5s;
  color: black;
}
.slide h1 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
.slide .hb:hover .txt {
  opacity: 1;
  transform: scaleY(1) translateY(0);
  width: 350px;
}
.txt p {
  display: flex;
  justify-content: left;
}
.slide .fullBg {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(1);
  z-index: 1;
}
.slide .fullBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}
.slide .hb:hover + .fullBg {
  opacity: 1;
  transform: scale(1.02);
}
.slide .credits {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5em;
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
  opacity: 0.8;
  transition: opacity 0.2;
  z-index: 3;
}
.slide .credits:hover {
  text-decoration: underline;
  opacity: 1;
}

.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  height: 400px;
}

.pic-ctn img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
